/* .scroll-container {
  height: 100vh;
  min-height: 450px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.scroll-container:nth-of-type(2) {
  background-color: #f5d2d3;
} */

/* .js-scroll, .header-next {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
} */


.hiring {
  letter-spacing: -0.02em;
}

.hiring, .hard, .made-it, .easy, .para, .play-learn, .image-aqua, .header-challenge 
,.button-challenge, .helping, .line
{
  /* display: block; */
  animation-name: slideUp;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

/* #ring-animation {
  animation: alternate infinite;
  animation-name: showRing;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes showRing {
  
  100% {
    transform: translateY(10%);
  }
} */

.ring {
  position: absolute;
  right: 52.45%;
  top: 37%;
  z-index: 25;
}



.ring2 {
  position: absolute;
  right: 23.1%;
  top: 82%;
}

.ring3 {
  position: absolute;
  right: 49.5%;
  top: 73%;
}

.ring4 {
  position: absolute;
  right: 25.8%;
  top: 56%;
  z-index: 4;
}

.ring5 {
  position: absolute;
  right: 7.5%;
  top: 34%;
  z-index: 4;
}

.cream-ball {
  position: absolute;
  left: 18%;
  width: 20%;
  height: 20%;
  animation: move 1s linear forwards;
}

@keyframes move {
  0%   {
      top: -10%;
  }
  100% {
    top: 60%;
  }
}

.yellow-ball {
  position: absolute;
  left: 44.8%;
  width: 10.2%;
  height: 10.2%;
  animation: moved 2s linear forwards;
}

@keyframes moved {
  0%   {
      top: -70%;
  }
  100% {
    top: 75%;
  }
}

.blue-ball {
  position: absolute;
  left: 45.5%;
  width: 5%;
  height: 5%;
  animation: moveed 1s linear forwards;
}

@keyframes moveed {
  0%   {
      top: -5%;
  }
  100% {
    top: 100%;
  }
}

.red-ball {
  position: absolute;
  left: 14.5%;
  width: 26%;
  height: 26%;
  animation: movered 3s linear forwards;
}

@keyframes movered {
  0%   {
      top: -150%;
  }
  100% {
    top: 20%;
    opacity: 1;
  }
}

.grey-ball {
  position: absolute;
  left: 42%;
  width: 15%;
  height: 15%;
  animation: movegrey 4s linear forwards;
}

@keyframes movegrey {
  0%   {
      top: -200%;
  }
  100% {
    top: 46%;
  }
}

.white-ball {
  position: absolute;
  left: 60%;
  width: 7%;
  height: 7%;
  animation: movewhite 6s linear forwards;
}

@keyframes movewhite {
  0%   {
      top: -250%;
  }
  100% {
    top: 100%;
  }
}

.redmain {
  position: absolute;
  left: 60%;
  width: 13%;
  height: 13%;
  animation: redmovemain 6s linear forwards;
}

@keyframes redmovemain {
  0%   {
      top: -250%;
  }
  100% {
    top: 25%;
  }
}

.purple-ball {
  position: absolute;
  left: 75%;
  width: 10%;
  height: 10%;
  animation: movepurple 8s linear forwards;
}

@keyframes movepurple {
  0%   {
      top: -650%;
  }
  100% {
    top: 100%;
  }
}

.all-color-ring {
  position: absolute;
  animation: whole 5s linear forwards;
}



/* ------------>>>>>>> First cards <<<<<<<------------- */

.swiper-slide ,.swiper-slide-active :hover .hello{
  opacity: 1;
  animation-name: slide-check;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.swiper-slide ,.swiper-slide-active :hover .access-button{
  opacity: 1;
  animation-name: slide-check;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.hello {
  animation-name: uppppp;
  padding-top: 25px;
  transition-duration: 0.5s;
}

.access-button {
  opacity: 0;
}

.access-button :hover {
  opacity: 1;
}


.header-access {
  animation-name: padding-up;
}

@keyframes padding-up {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes uppppp {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#first-ball { 
}


/* ------------>>>>>>> Second cards <<<<<<<------------- */


.swipe-slide , .swiper-slide-next:hover .hello2 {
  opacity: 1;
  animation-name: slide-check;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.swiper-slide ,.swiper-slide-next :hover .access-button2{
  opacity: 1;
  animation-name: slide-check;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.hello2 {
  animation-name: uppppp;
  padding-top: 25px;
  transition-duration: 0.5s;
}

.access-button2 {
  opacity: 0;
}

.access-button2 :hover {
  opacity: 1;
}

.header-access2 {
  animation-name: padding-up;
}

@keyframes padding-up {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes uppppp {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ------------>>>>>>> Third cards <<<<<<<------------- */

.swiper-slide ,.swiper-slide-next :hover .hello3{
  opacity: 1;
  animation-name: slide-check;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.swiper-slide ,.swiper-slide-next :hover .access-button3{
  opacity: 1;
  animation-name: slide-check;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.hello3 {
  animation-name: uppppp;
  padding-top: 25px;
  transition-duration: 0.5s;
}

.access-button3 {
  opacity: 0;
}

.access-button3 :hover {
  opacity: 1;
}


.header-access3 {
  animation-name: padding-up;
}

@keyframes padding-up {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes uppppp {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* ------------>>>>>>> Fourth cards <<<<<<<------------- */

.swiper-slide ,.swiper-slide-next :hover .hello4{
  opacity: 1;
  animation-name: slide-check;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.swiper-slide ,.swiper-slide-next :hover .access-button4{
  opacity: 1;
  animation-name: slide-check;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.hello4 {
  animation-name: uppppp;
  padding-top: 25px;
  transition-duration: 0.5s;
}

.access-button4 {
  opacity: 0;
}

.access-button4 :hover {
  opacity: 1;
}


.header-access4 {
  animation-name: padding-up;
}

@keyframes padding-up {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes uppppp {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}






.image-lightgreen {
  animation-name: popup-circle1;
  animation-duration: 1.5s;
}

.image-aqua {
  animation-name: popup-circle2;
  animation-duration: 1.5s;
}

.image-lightpink {
  animation-name: popup-circle3;
  animation-duration: 1.5s;
}

.image-yellow {
  animation-name: popup-circle4;
  animation-duration: 1.5s;
}

.image-lightRed {
  animation-name: popup-circle5;
  animation-duration: 1.5s;
}

.image-orenge {
  animation-name: popup-circle6;
  animation-duration: 1.5s;
}

.image-lightcream {
  animation-name: popup-circle7;
  animation-duration: 1.5s;
}

.image-girl {
  animation-name: popup-circle8;
  animation-duration: 1.5s;
}

.sidetext {
  animation-name: sidetext-white;
  animation-duration: 1.5s;
}

/* .circle-text-one {
  animation: popup-circle;
  animation-duration: 1.5s;
} */

/* .text-color {
  animation: hideText;
  animation-duration: 1.5s;
} */





/* .no-mg, .line, p {
  letter-spacing: -0.02em;
}

  .no-mg, .line, p{
    display: block;
    animation-name: slideUp;
    animation-duration: 2s;
    animation-timing-function: ease-in;
  } */
  /* .offset-header-odd {
    text-align: left;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  .offset-header-even {
    text-align: right;
    animation-delay: 50ms;
    animation-fill-mode: both;
  } */

  @keyframes slideUp {
    0%,30%, 50%{
      transform: translateY(100%);
      opacity: 0;
    }
     
    100% {
      transform: translateY(0);
      opacity: 1;
    
    }
  }

  @keyframes sidetext-white {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  #ball {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: moving 5s linear infinite;
  }

  @keyframes moving {
    0% {
      top: 0;
      left: 0;
    }

    25% {
      top: 0;
      left: 400px;
      background: cyan;
    }
  }