
@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  25% {
    position: absolute;
  }

  50%{
    position: absolute;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}


.animate-text {
  animation-name: bottomFadeOut;
  animation-delay: 2s;
  animation-duration: 3s;
}