#pot {
  bottom: 15%;
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 9s;
}


@keyframes run {
  0% {
    left: 0;
  }

  10% {
    left: 3%;
  }

  15% {
    left: 3%;
  }

  50% {
    left: 65%;
  }

  100% {
    left: 0;
  }
}

#pot1 {
  bottom: 15%;
  position: absolute;
  animation: linear infinite;
  animation-name: run1;
  animation-duration: 8s;

}

@keyframes run1 {
  0% {
    left: 10;
  }

  10% {
    left: 13%;
  }

  15% {
    left: 13%;
  }

  50% {
    left: 75%;
  }

  100% {
    left: 0;
  }
}

#pot2 {
  bottom: 15%;
  position: absolute;
  animation: linear infinite;
  animation-name: run2;
  animation-duration: 8s;

}

@keyframes run2 {
  0% {
    left: 0;
  }

  10% {
    left: 3%;
  }

  15% {
    left: 10%;
  }

  50% {
    left: 90%;
  }

  100% {
    left: 0;
  }
}

#pot3 {
  bottom: 15%;
  position: absolute;
  animation: linear infinite;
  animation-name: run3;
  animation-duration: 8s;

}

@keyframes run3 {
  0% {
    left: 0;
  }

  10% {
    left: 3%;
  }

  15% {
    left: 10%;
  }

  50% {
    left: 90%;
  }

  100% {
    left: 0;
  }
}

#pot4 {
  bottom: 15%;
  position: absolute;
  animation: linear infinite;
  animation-name: run4;
  animation-duration: 8s;

}

@keyframes run4 {
  0% {
    left: 0;
  }

  10% {
    left: 3%;
  }

  15% {
    left: 10%;
  }

  50% {
    left: 90%;
  }

  100% {
    left: 0;
  }
}

#pot5 {
  bottom: 15%;
  position: absolute;
  animation: linear infinite;
  animation-name: run5;
  animation-duration: 8s;

}

@keyframes run5 {
  0% {
    left: 0;
  }

  10% {
    left: 3%;
  }

  15% {
    left: 10%;
  }

  50% {
    left: 90%;
  }

  100% {
    left: 0;
  }
}

#pot6 {
  bottom: 15%;
  position: absolute;
  animation: linear infinite;
  animation-name: run6;
  animation-duration: 8s;

}

@keyframes run6 {
  0% {
    left: 0;
  }

  10% {
    left: 3%;
  }

  15% {
    left: 10%;
  }

  50% {
    left: 90%;
  }

  100% {
    left: 0;
  }
}
