<section class="c-section p-top__140 cc-stats wf-section">
  <div class="c-ctn cc-60 cc-flex">
    <div class="c-content_wrapper cc-100">
      <div class="c-text__content cc-100 center-text">
        <h1 class="c-massive-heading">
          <div class="lineswrap" data-aos="fade-up">
            <div class="line animate-text" style="display: block; text-align: center; width: 100%;">Stryve stats
            </div>
          </div>
        </h1>
      </div>
      <div class="stats-grid">
        <div class="c-stats__item-holder">
          <div class="c-stat__item">
            <div class="c-stats__bubble-holder cc-pink cc-1" data-aos="zoom-in-up">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf64990a06c0_Ellipse%2029.svg"
                loading="lazy" alt="light pink full circle" class="c-assess__svg">
            </div>
            <div class="c-stats__bubble-holder cc-orange cc-1" data-aos="zoom-in-up">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf54380a0779_Ellipse%20120.svg"
                alt="orange full circle" class="c-assess__svg">
            </div>
            <div class="c-stats__bubble-holder cc-ruby" data-aos="zoom-in-up"><img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbff6a90a0693_Ellipse%2020.svg"
                alt="dark pink full circle" class="c-assess__svg"></div>
            <h1 class="ultra-heading">
              <div class="lineswrap" data-aos="fade-up">
                <div class="line animate-text" style="display: block; text-align: start; width: 100%;">9260</div>
              </div>
            </h1>
          </div>
          <div class="text-16 center-text mg-top">
            <div class="lineswrap" data-aos="fade-up">
              <div class="line animate-text" style="display: block; text-align: center; width: 100%;">Candidates in
                the platform</div>
            </div>
          </div>
        </div>
        <div class="c-stats__item-holder">
          <div class="c-stat__item">
            <div class="c-stats__bubble-holder cc-middle cc-orange" data-aos="zoom-in-up">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbffb070a06bd_Ellipse%2019%20copy.svg"
                alt="orange full circle" class="c-assess__svg">
            </div>
            <div class="c-stats__bubble-holder cc-middle cc-yellow" data-aos="zoom-in-up">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbfeb130a06c1_Ellipse%2014.svg"
                alt="yellow full circle" class="c-assess__svg">
            </div>
            <div class="c-stats__bubble-holder cc-middle cc-pink" data-aos="zoom-in-up">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf64990a06c0_Ellipse%2029.svg"
                loading="lazy" alt="light pink full circle" class="c-assess__svg">
            </div>
            <h1 class="ultra-heading">
              <div class="lineswrap" data-aos="fade-up">
                <div class="line animate-text" style="display: block; text-align: start; width: 100%;">536</div>
              </div>
            </h1>
          </div>
          <div class="text-16 center-text mg-top">
            <div class="lineswrap" data-aos="fade-up">
              <div class="line animate-text" style="display: block; text-align: center; width: 100%;">Live jobs
              </div>
            </div>
          </div>
        </div>
        <div class="c-stats__item-holder">
          <div class="c-stat__item">
            <div class="c-stats__bubble-holder cc-last cc-green" data-aos="zoom-in-up">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf349c0a069f_Ellipse%2024.svg"
                alt="green full circle" class="c-assess__svg">
            </div>
            <div class="c-stats__bubble-holder cc-last cc-blue" data-aos="zoom-in-up">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf43520a0699_Ellipse%2016%20copy.svg"
                alt="light blue full circle" class="c-assess__svg">
            </div>
            <div class="c-stats__bubble-holder cc-last cc-turquoise" data-aos="zoom-in-up">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbff6bf0a0697_Ellipse%2026.svg"
                alt="turquoise full circle" class="c-assess__svg">
            </div>
            <h1 class="ultra-heading">
              <div class="lineswrap" data-aos="fade-up">
                <div class="line animate-text" style="display: block; text-align: start; width: 100%;">334</div>
              </div>
            </h1>
          </div>
          <div class="text-16 center-text mg-top">
            <div class="lineswrap" data-aos="fade-up">
              <div class="line animate-text" style="display: block; text-align: center; width: 100%;">Users hiring
                with Stryve</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-wrapper center">
        <a href="#" class="c-btn-anim cc-with-icon relative w-inline-block"><img
            src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf9bfb0a0658_arrow.svg"
            alt="right arrow" class="c-icon__arrow cc-hide">
          <div class="relative behind">Join them today</div>
          <div class="btn-background">
            <div class="relative _1">Join them today</div>
          </div>
          <div class="btn-hover">
            <div class="relative _2">Join them today</div>
          </div>
        </a>
        <a href="bookdemo.html" class="c-btn cc-with-icon w-inline-block" rel="noopener noreferrer" data-aos="fade-up">
          <div>Book a demo to learn more</div>
          <img src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf9bfb0a0658_arrow.svg"
            alt="right arrow" class="c-icon__arrow">
        </a>
      </div>
    </div>
  </div>
</section>