<section class="c-section p-btm__160 wf-section">
  <div class="c-ctn cc-70">
    <div class="c-content_wrapper cc-100 cc-beige-bg p-both">
      <div class="c-text__content cc-30">
        <h3>
          <div class="lineswrap">
            <div class="line animate-text" style="display: block; align-items: start; width: 100%;">
              Start building the
            </div>
          </div>
          <div class="lineswrap">
            <div class="line animate-text" style="display: block; align-items: start; width: 100%;">
              team your
            </div>
          </div>
          <div class="lineswrap">
            <div class="line animate-text" style="display: block; align-items: start; width: 100%;">
              business needs
            </div>
          </div>
        </h3>
        <div class="btn-holder cc-35 mg-top__20">
          <a href="bookdemo.html" class="c-btn cc-with-icon w-inline-block">
            <div>Let's talk</div>
            <img class="c-icon__arrow" alt="right-arrow"
              src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf9bfb0a0658_arrow.svg">
          </a>
        </div>
      </div>
      <div class="c-bubble__wrapper cc-start-building cc-green">
        <img class="c-assess__svg"
          src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf349c0a069f_Ellipse%2024.svg">
      </div>
      <div class="c-bubble__wrapper cc-start-building cc-ruby">
        <img class="c-assess__svg"
          src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbff6a90a0693_Ellipse%2020.svg">
      </div>
      <div class="c-bubble__wrapper cc-start-building cc-turquoise">
        <img class="c-assess__svg"
          src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbff6bf0a0697_Ellipse%2026.svg">
      </div>
      <div class="c-bubble__wrapper cc-start-building cc-yellow">
        <img class="c-assess__svg"
          src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbfeb130a06c1_Ellipse%2014.svg">
      </div>
      <div class="c-bubble__wrapper cc-start-building cc-pink">
        <img class="c-assess__svg"
          src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf64990a06c0_Ellipse%2029.svg">
      </div>
    </div>
  </div>
</section>