.ipqlTr {
  font: inherit !important;
}
.ipqlTr::before {
  content: "blank";
}
.jzPVgS {
  font: inherit !important;
}
.jzPVgS::before {
  content: "left";
}
.itobcx {
  font: inherit !important;
}
.itobcx::before {
  content: "right";
}
.kmMNGm {
  display: inline-flex;
  font-size: 10px;
  line-height: 1;
  padding: 0em;
  transform: rotate(0deg);
  user-select: none;
  position: relative;
}
.kmMNGm.private-icon-circle--legacy {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 2em;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2em;
}
.bnpzJS {
  height: 1em;
  width: 1em;
  margin: 0.25em 0.125em 0px;
  transform-origin: 50% 38%;
  transform: rotate(0deg) translateY(-6.3%);
}
.gKOCoc {
  cursor: pointer;
}
.kheQaH {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}
.brpqoF {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
}
.brpqoF > .private-flex {
  width: auto;
}
.hwvmxA {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
}
.hwvmxA > .private-flex {
  width: auto;
}
.gaAPUl {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
}
.gaAPUl > .private-flex {
  width: auto;
}
.etSbX {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
}
.eYBLi {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
}
.EovjT {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  width: 100%;
}
.kWtHqK {
  background-color: rgb(245, 248, 250);
  max-height: 76px;
  max-width: 100%;
}
.fAFVUq {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  white-space: nowrap;
  border: 0px;
}
.ebPkiF {
  table-layout: fixed;
  width: 100%;
  margin: 0px;
}
.jZsods {
  font-size: 0px;
  line-height: 0;
}
.kHNyxV {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.hHEssG > :last-child {
  margin-bottom: 0px;
}
.gjjXqy {
  padding: 40px;
  border-radius: inherit;
}
.eKkYFi {
  padding: 40px 0px;
  border-radius: inherit;
}
.fDlfLW {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
  border-radius: 3px;
}
.cJvrna {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}
.giAFPx {
  flex: 0 1 50%;
  -webkit-box-flex: 0;
}
/*! CSS Used from: https://static.hsappstatic.net/MeetingsPublic/static-1.27557/bundles/project_with_deps.css */
.flex-grow-1 {
  display: flex;
  flex-grow: 1 !important;
}
.flex-column {
  display: flex;
  flex-direction: column !important;
}
.justify-center {
  display: flex;
  justify-content: center !important;
}
.m-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.m-bottom-0 {
  margin-bottom: 0 !important;
}
.m-x-1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.m-bottom-1 {
  margin-bottom: 4px !important;
}
.m-top-4 {
  margin-top: 16px !important;
}
.m-bottom-4 {
  margin-bottom: 16px !important;
}
.m-bottom-6 {
  margin-bottom: 24px !important;
}
.m-y-8 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.m-top-8 {
  margin-top: 32px !important;
}
.m-x-10 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.p-all-0 {
  padding: 0 !important;
}
.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-left-0 {
  padding-left: 0 !important;
}
.p-x-1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.p-y-1 {
  padding-bottom: 4px !important;
}
.p-top-1,
.p-y-1 {
  padding-top: 4px !important;
}
.p-right-1 {
  padding-right: 4px !important;
}
.p-y-4 {
  padding-bottom: 16px !important;
}
.p-top-4,
.p-y-4 {
  padding-top: 16px !important;
}
.p-x-8 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p-top-8 {
  padding-top: 32px !important;
}
.width-100 {
  width: 100% !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.title-case {
  text-transform: capitalize !important;
}
@media screen and (max-width: 632px) {
  .page:not(.embedded) .meetings-page {
    height: 100%;
  }
}
.meetings-lib {
  margin-left: 4px;
  margin-right: 4px;
}
.meetings-lib .meetings-page {
  margin-left: auto;
  margin-right: auto;
}
.meetings-lib .time-picker-btn {
  font-size: 0.75rem;
}
.meetings-lib ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.meetings-lib ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.5);
}
.fullsize-container {
  height: 670px;
}
.height-100 {
  height: 100% !important;
}
.min-height-0 {
  min-height: 0;
}
.fullsize-container {
  max-width: 850px;
}
.date-picker-section {
  flex-shrink: 0;
  border-radius: 0;
}
.date-picker-section {
  color: #fff;
  box-shadow: -4px 4px 12px -2px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 34em) {
  .private-button--default {
    width: auto !important;
  }
}
.date-picker .date-picker-btn {
  position: relative;
  display: block;
  text-align: center;
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
}
.date-picker .date-picker-btn.disabled:not(.selected) {
  cursor: default !important;
  opacity: 0.3;
}
.date-picker .date-picker-btn.selected {
  background: #fff;
  color: #425b76;
}
.duration-picker button {
  width: 33%;
}
.time-picker {
  height: 75%;
}
.time-picker .time-list-container {
  max-height: 85%;
}
.time-picker .time-picker-btn {
  padding: 12px 24px;
  max-width: 100%;
  color: #00a4bd;
  border-color: #cbd6e2;
}
.time-picker .time-picker-btn:active {
  border: 1px solid #cbd6e2;
  border-radius: 2px;
  background-color: transparent;
}
.time-picker .time-picker-btn:hover {
  box-shadow: none;
}
.profile-header .headline {
  order: 1;
}
.profile-header .headline:not(.success-header) {
  min-height: 40px;
  max-height: 90px;
}
.profile-header .user-provided-avatar {
  padding: 0;
  width: 78px !important;
  height: 78px !important;
  box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.5);
}
.profile-header .header-avatar {
  height: 78px;
}
.profile-header .avatar-image {
  border: 3px solid #fff;
  border-radius: 50%;
}
body {
  margin: 0;
}
[hidden] {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
img {
  border: 0;
}
button {
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.flex-grow-1 {
  display: flex;
  flex-grow: 1 !important;
}
.flex-column {
  display: flex;
  flex-direction: column !important;
}
.justify-center {
  display: flex;
  justify-content: center !important;
}
*,
:after,
:before {
  box-sizing: border-box;
}
a {
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.15s ease-out;
  color: #0091ae;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #007a8c;
  text-decoration: underline;
}
a:active {
  color: #7fd1de;
}
table {
  margin-bottom: 16px;
  margin-top: 0;
}
[aria-disabled="true"] {
  cursor: inherit;
}
.hubspot-disable-focus-styles
  :focus:not(input):not(textarea):not(.keep-default-focus-styles) {
  outline: 0;
}
body {
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #33475b;
  line-height: 24px;
}
h2 {
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 16px;
  margin-top: 0;
  display: block;
  line-height: normal;
  text-transform: none;
}
h2 {
  font-weight: 400;
  font-size: 24px;
}
h3 {
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 16px;
  margin-top: 0;
  display: block;
  font-size: 22px;
  line-height: normal;
  text-transform: none;
}
h5 {
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 16px;
  margin-top: 0;
  display: block;
  line-height: normal;
  text-transform: none;
}
h5 {
  font-size: 16px;
}
.private-image {
  vertical-align: middle;
}
.private-image--responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.private-image--circle {
  border-radius: 100%;
}
.private-button {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.15s ease-out;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
.private-button:hover {
  text-decoration: none;
}
@media only screen and (min-width: 545px) {
  .private-button + .private-button {
    margin-left: 12px;
  }
}
@media only screen and (max-width: 544px) {
  .private-button + .private-button {
    margin-top: 6px;
  }
}
.private-button.private-button--disabled,
.private-button[aria-disabled="true"] {
  background-color: #eaf0f6 !important;
  border-color: #eaf0f6 !important;
  color: #b0c1d4 !important;
  cursor: not-allowed;
}
.private-button--block {
  width: 100%;
}
.private-button--sm {
  font-size: 12px;
  line-height: 14px;
  padding: 8px 16px;
}
@media only screen and (max-width: 544px) {
  .private-button--sm {
    width: 100%;
  }
}
.private-button--default {
  font-size: 14px;
  line-height: 16px;
  padding: 11px 24px;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 500;
}
@media only screen and (max-width: 544px) {
  .private-button--default {
    width: 100%;
  }
}
.private-button--tertiary-light {
  background-color: #eaf0f6;
  border-color: #cbd6e2;
  color: #506e91;
}
.private-button--tertiary-light:hover {
  background-color: #f5f8fa;
  color: #506e91;
}
.private-button--tertiary-light.private-button--active {
  background-color: #cbd6e2;
  border-color: #7c98b6;
  color: #506e91;
}
.private-button--transparent {
  background-color: transparent;
  border-color: transparent;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.15s ease-out;
  color: #0091ae;
  text-decoration: none;
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;
}
.private-button--transparent:hover {
  color: #007a8c;
  text-decoration: underline;
}
.private-button--transparent:active {
  color: #7fd1de;
}
.private-button--transparent.private-button--default {
  padding-left: 12px;
  padding-right: 12px;
}
.private-button--transparent.private-button--disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  text-decoration: none !important;
}
.private-button--transparent:not(.private-button--disabled) .private-icon {
  color: #7c98b6;
}
.private-button--non-link .private-icon:not(.private-icon-circle__inner) {
  line-height: 0;
}
.private-button--non-responsive {
  width: auto;
}
.private-button--non-responsive + .private-button--non-responsive {
  margin-left: 12px;
  margin-top: 0;
}
.private-button__group.private-button__group--horizontal {
  display: inline-block;
}
.private-button__group.private-button__group--horizontal > * {
  display: inline-block !important;
  margin-top: 0;
  position: relative;
}
.private-button__group.private-button__group--horizontal > :first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.private-button__group.private-button__group--horizontal > :last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.private-button__group.private-button__group--horizontal > :not(:first-child) {
  margin-left: -1px !important;
}
.private-button__group > :not(:first-child):not(:last-child) {
  border-radius: 0;
}
.private-button__group > .private-button--active:not([aria-disabled="true"]) {
  z-index: 1;
}
.private-button-select-group__option {
  background-color: #f5f8fa;
  border-color: #cbd6e2 !important;
  color: #516f90;
}
.private-button-select-group__option:hover {
  background-color: #fff;
  color: #516f90;
}
.private-button-select-group__option.private-button--active {
  background-color: #e5eaf0 !important;
  color: #516f90;
}
.private-selectable-box {
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid #7fd1de;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: auto;
}
.private-selectable-box .private-selectable-box__inner {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  margin-left: 0;
  white-space: normal;
}
.private-selectable-box.private-button--block {
  width: 100%;
}
.private-button--block {
  max-width: none;
}
.is--heading-6 {
  text-transform: uppercase !important;
}
.is--heading-6 {
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif !important;
  font-weight: 600 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  margin-bottom: 16px;
  margin-top: 0;
  display: block;
  font-size: 14px !important;
  line-height: normal !important;
}
.has--vertical-spacing > :last-child {
  margin-bottom: 0;
}
.is--module {
  margin-bottom: 16px;
  margin-top: 0;
}
.private-dropdown__caret {
  border: 0.3125em solid transparent;
  display: inline-block;
  vertical-align: middle;
  border-top-color: currentColor;
  margin-top: 0.3125em;
  align-self: center;
  flex-shrink: 0;
}
.private-button--transparent .private-dropdown__caret {
  color: #7c98b6;
  margin-left: 0.125em;
}
.private-dropdown__button__contents {
  align-items: center;
  display: flex;
}
.private-dropdown__button-label {
  flex-grow: 1;
  margin-right: 4px;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  min-width: 0;
  text-align: left;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: -2px;
  margin-top: -2px;
}
.private-icon {
  display: inline-block;
  user-select: none;
  white-space: nowrap !important;
  word-break: normal !important;
}
.private-step-indicator {
  display: inline-flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin-left: 2px;
  margin-top: 2px;
}
.private-step-indicator__section {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  color: #cbd6e2;
}
.private-step-indicator__section:first-of-type
  .private-step-indicator__line:before,
.private-step-indicator__section:last-of-type
  .private-step-indicator__line:after {
  visibility: hidden;
}
.private-step-indicator__section:focus {
  overflow: hidden;
}
.private-step-indicator--horizontal {
  align-items: flex-start;
  justify-content: space-between;
}
.private-step-indicator--horizontal .private-step-indicator__section {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.private-step-indicator--horizontal .private-step-indicator__line:after,
.private-step-indicator--horizontal .private-step-indicator__line:before {
  flex: 1 1 100%;
  display: inline-block;
}
.private-step-indicator__section--active {
  color: #ff7a59;
}
.private-step-indicator__section--active .private-step-indicator__line:after {
  color: #cbd6e2;
}
.private-step-indicator__line {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.private-step-indicator__line:after,
.private-step-indicator__line:before {
  border-top: 2px solid currentColor;
  content: " ";
  position: relative;
  width: 100%;
}
.private-step-indicator__item {
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #33475b;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
.private-step-indicator__point {
  flex: 0 0 auto;
  line-height: 0;
  padding: 4px 0;
  transition: opacity 0.15s ease-out;
}
.private-step-indicator__point > * {
  line-height: normal;
  vertical-align: top;
}
.private-step-indicator__status {
  flex-basis: 100%;
  display: none;
  text-align: center;
}
.private-step-indicator__status:after {
  content: "\200B";
}
.flex-grow-1 {
  display: flex;
  flex-grow: 1 !important;
}
.flex-column {
  display: flex;
  flex-direction: column !important;
}
.justify-center {
  display: flex;
  justify-content: center !important;
}
.m-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.m-bottom-0 {
  margin-bottom: 0 !important;
}
.m-x-1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.m-bottom-1 {
  margin-bottom: 4px !important;
}
.m-top-4 {
  margin-top: 16px !important;
}
.m-bottom-4 {
  margin-bottom: 16px !important;
}
.m-bottom-6 {
  margin-bottom: 24px !important;
}
.m-y-8 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.m-top-8 {
  margin-top: 32px !important;
}
.m-x-10 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.p-all-0 {
  padding: 0 !important;
}
.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-left-0 {
  padding-left: 0 !important;
}
.p-x-1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.p-y-1 {
  padding-bottom: 4px !important;
}
.p-top-1,
.p-y-1 {
  padding-top: 4px !important;
}
.p-right-1 {
  padding-right: 4px !important;
}
.p-y-4 {
  padding-bottom: 16px !important;
}
.p-top-4,
.p-y-4 {
  padding-top: 16px !important;
}
.p-x-8 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p-top-8 {
  padding-top: 32px !important;
}
.text-center {
  text-align: center !important;
}
.title-case {
  text-transform: capitalize !important;
}
.display-block {
  display: block !important;
}
[class*="private-icon__"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: spacesword !important;
  font-feature-settings: "liga";
  font-variant: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}
.page,
body {
  height: 100%;
}
.page:not(.embedded) {
  background-color: #f5f8fa;
}
/*! CSS Used from: Embedded */
#hubspot-messages-iframe-container {
  display: initial !important;
  z-index: 2147483647;
  position: fixed !important;
  bottom: 0 !important;
}
#hubspot-messages-iframe-container.widget-align-right {
  right: 0 !important;
}
#hubspot-messages-iframe-container .shadow-container {
  display: initial !important;
  z-index: -1;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  content: "";
}
#hubspot-messages-iframe-container iframe {
  display: initial !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  background: transparent !important;
}
/*! CSS Used fontfaces */
@font-face {
  font-family: Avenir Next W02;
  src: url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Regular.woff2)
      format("woff2"),
    url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Regular.woff)
      format("woff");
}
@font-face {
  font-family: Avenir Next W02;
  font-style: italic;
  src: url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Regular-Italic.woff2)
      format("woff2"),
    url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Regular-Italic.woff)
      format("woff");
}
@font-face {
  font-family: Avenir Next W02;
  src: url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Medium.woff2)
      format("woff2"),
    url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Medium.woff)
      format("woff");
  font-weight: 500;
}
@font-face {
  font-family: Avenir Next W02;
  src: url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Demi.woff2)
      format("woff2"),
    url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Demi.woff)
      format("woff");
  font-weight: 600;
}
@font-face {
  font-family: Avenir Next W02;
  font-style: italic;
  src: url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Demi-Italic.woff2)
      format("woff2"),
    url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Demi-Italic.woff)
      format("woff");
  font-weight: 600;
}
@font-face {
  font-family: Avenir Next W02;
  src: url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Bold.woff2)
      format("woff2"),
    url(//static.hsappstatic.net/ui-fonts/static-1.264/fonts/AvenirNext-Bold.woff)
      format("woff");
  font-weight: 700;
}
@font-face {
  font-family: spacesword;
  src: url(//static.hsappstatic.net/icons/static-2.497/fonts/spacesword-low.woff2)
      format("woff2"),
    url(//static.hsappstatic.net/icons/static-2.497/fonts/spacesword-low.woff)
      format("woff");
}
@font-face {
  font-family: spacesword;
  src: url(//static.hsappstatic.net/icons/static-2.497/fonts/spacesword-high.woff2)
      format("woff2"),
    url(//static.hsappstatic.net/icons/static-2.497/fonts/spacesword-high.woff)
      format("woff");
  font-weight: 700;
}
