<footer class="c-footer wf-section">
  <div class="c-footer-upper-portion">
    <div class="c-ctn">
      <div class="c-footer__upper">
        <div class="w-layout-grid footer-grid">
          <div class="c-footer__logo-part upper">
            <a href="#" class="c-footer__logo w-inline-block w--current">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf256f0a06d6_Group%20104.svg"
                class="c-footer__logo-svg">
            </a>
            <div class="flex-wrapper cc-socials">
              <a href="login.html" class="c-btn cc-no-border white mg-right__20 faded-btn w-button">
                Log in
              </a>
              <a href="bookdemo.html" class="c-btn cc-light white-border faded-btn w-button">
                Get started
              </a>


              <!-- MOBILE VIEW FOR SOCIAL MEDIAS -->

              <div class="c-footer__logo-part cc-mobile">
                <h5 class="is--white">Follow us</h5>
                <div class="flex-wrapper cc-spaced cc-100">
                  <a href="#" target="_blank" class="c-footer__social-link w-inline-block">
                    <img
                      src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf2faf0a06da_Vector%20(1).svg"
                      class="c-footer__social-svg">
                  </a>
                  <a href="#" target="_blank" class="c-footer__social-link w-inline-block">
                    <img
                      src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbfc0cc0a06dd_Vector%20(2).svg"
                      class="c-footer__social-svg">
                  </a>
                  <a href="#" target="_blank" class="c-footer__social-link w-inline-block">
                    <img
                      src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf80510a06d5_Vector%20(3).svg"
                      class="c-footer__social-svg">
                  </a>
                  <a href="#" target="_blank" class="c-footer__social-link w-inline-block">
                    <img
                      src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf80510a06d5_Vector%20(3).svg"
                      class="c-footer__social-svg">
                  </a>
                </div>
              </div>


            </div>
            <img
              src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/62e3ecef03d7c308108537ea_Certified%20BCorp%20logo%20white.png"
              class="bcrop_logo-wrapper is-footer">
          </div>

          <div class="c-footer__links">
            <div class="c-footer__links-block">
              <div class="c-footer__header">Why Stryve</div>
              <a href="save-time.html" class="c-footer__link-item">Time</a>
              <a href="remain.html" class="c-footer__link-item">Compliance</a>
              <a href="engagement.html" class="c-footer__link-item">Engagement</a>
              <a href="improve.html" class="c-footer__link-item">Diversity & inclusion</a>
              <a href="index.html" class="c-footer__link-item">All feature</a>
            </div>
            <div class="c-footer__links-block cc-build-for">
              <div class="c-footer__header">Built for</div>
              <a href="Richard-Angle.html" class="c-footer__link-item">Start-ups</a>
              <a href="Katharine-Archer.html" class="c-footer__link-item">Growing businesses</a>
              <a href="Alex-Rook.html" class="c-footer__link-item">Established businesses</a>
            </div>
            <div class="c-footer__links-block">
              <div class="c-footer__header">Solution</div>
              <a href="solution-attract.html" class="c-footer__link-item">Attract talent</a>
              <a href="assess-talent.html" class="c-footer__link-item">Assess talent</a>
              <a href="simplify.html" class="c-footer__link-item">Simplify hiring</a>
            </div>
            <div class="c-footer__links-block">
              <div class="c-footer__header">Company</div>
              <a href="pricing.html" class="c-footer__link-item">pricing</a>
              <a href="resource.html" class="c-footer__link-item">Learning</a>
              <a href="career.html" class="c-footer__link-item">Careers</a>
              <a href="B-Corp.html" class="c-footer__link-item">B Crop</a>
              <a href="about-us.html" class="c-footer__link-item">About</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-footer-lower-portion">
    <div class="c-ctn">
      <div class="c-footer__lower">


        <div class="w-layout-grid footer-grid__lower">
          <div class="c-footer__logo-part cc-socials">
            <h5 class="is--white">Follow us</h5>
            <div class="flex-wrapper">
              <a href="#" class="c-footer__social-link w-line-block">
                <img
                  src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf2faf0a06da_Vector%20(1).svg"
                  class="c-footer__social-svg" alt="link">
              </a>
              <a href="#" class="c-footer__social-link w-line-block">
                <img
                  src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbfc0cc0a06dd_Vector%20(2).svg"
                  class="c-footer__social-svg" alt="link">
              </a>
              <a href="#" class="c-footer__social-link w-line-block">
                <img
                  src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf80510a06d5_Vector%20(3).svg"
                  class="c-footer__social-svg" alt="link">
              </a>
            </div>
          </div>

          <div class="c-footer__links cc-lower">
            <div class="c-footer__links-block">
              <div class="c-footer__header">Phone us</div>
              <a href="#" class="is--white is--12px">+44 203 137 3253</a>
            </div>
            <div class="c-footer__links-block">
              <div class="c-footer__header">Email us</div>
              <a href="#" class="is--white is--12px">hello@srtyve.online</a>
            </div>
            <div class="c-footer__links-block">
              <div class="c-footer__header">Find us</div>
              <a href="#" class="is--white is--12px">Labs, 90 High Holborn, <br> Holborn,London WC1V 6LJ</a>
            </div>
          </div>
        </div>

        <div class="w-layout-grid footer-grid__bottom">
          <div class="c-footer__logo-part">
            <h5 class="is--white opacity-60 is--12px">
              Stryve 2022
            </h5>
          </div>

          <div class="c-footer__links cc-lower cc-2">
            <div class="c-footer__links-block cc-btm">
              <a href="#" target="_blank" class="is--white opacity-60 is--12px">
                Terms & conditions
              </a>
            </div>

            <div class="c-footer__links-block cc-btm">
              <a href="#" target="_blank" class="is--white opacity-60 is--12px">
                Privacy
              </a>
            </div>

            <div class="c-footer__links-block cc-btm">
              <a href="#" target="_black" class="is--white opacity-60 is--12px">
                Cookies
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>