footer {
  display: block;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}

/* .w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
} */
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
h5 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #0f172a;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 180%;
}
.is--white {
  color: white;
  text-decoration: none;
  margin-bottom: 12px;
}
.c-ctn {
  max-width: none;
}
.c-ctn {
  width: 85%;
  max-width: 1280px;
  min-width: 970px;
  margin-right: auto;
  margin-left: auto;
}
.flex-wrapper.cc-spaced {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.c-btn.cc-light {
  border: 2px solid #000;
  background-color: transparent;
  color: #0f172a;
}
.c-btn.cc-light.white-border {
  border-color: #fff;
  color: #fff;
}
.c-btn.cc-no-border {
  background-color: transparent;
  color: #0f172a;
}
.c-btn.cc-no-border.white {
  background-color: #fff;
}
.c-btn.cc-no-border.white.mg-right__20 {
  margin-right: 20px;
}
.is--white.opacity-60 {
  margin-bottom: 16px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  text-decoration: none;
}
.is--white.is--12px {
  font-size: 12px;
}
.flex-wrapper {
  display: flex;
}
.c-footer__header {
  margin-bottom: 16px;
  color: #fff;
}
.c-footer__link-item {
  margin-bottom: 16px;
  -webkit-transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  cursor: pointer;
}
.c-footer__link-item:hover {
  -webkit-transform: translate(3px, 0);
  -ms-transform: translate(3px, 0);
  transform: translate(3px, 0);
}
.c-footer-upper-portion {
  padding-bottom: 32px;
}
.c-footer-lower-portion {
  padding-bottom: 64px;
  background-color: #0f00c0;
}
.bcrop_logo-wrapper {
  position: absolute;
  left: 2%;
  top: auto;
  right: auto;
  bottom: 2%;
  width: 5.5rem;
  height: 7.5rem;
}
.bcrop_logo-wrapper.is-footer {
  left: 0;
}
