<section class="c-section cc-beige-bg wf-section">
  <div class="c-ctn">
    <div class="c-header cc-60 center center-text">
      <h2>
        <div class="lineswrap" data-aos="fade-up">
          <div class="line animate-text" style="display: block; text-align: center; width: 100%;">We're here to help
            with</div>
        </div>
        <div class="lineswrap" data-aos="fade-up">
          <div class="line animate-text"
            style="display: block; text-align: center; width: 100%; transition-delay: 200ms;">heaps of insights and
            tips</div>
        </div>
      </h2>
    </div>
    <div class="w-dyn-list">
      <div class="collection-list-grid w-dyn-items">
        <div class="w-dyn-item">
          <div class="c-card cc-tips">
            <a href="resource.html" class="c-card__link w-inline-block">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf077f0a0656/6135d217a84bbf6bd90a0860_video%20tech.jpg"
                class="c-card__img cc-small">
            </a>
            <div class="c-card__info">
              <a style="color:#ff2868" href="#" class="c-card__tag-link">Advice</a>
              <div class="c-card__reading-time">
                <div style="background-color:#ff2868" class="c-card__info-separator"></div>
                <div class="c-card__info-txt">5</div>
                <div class="c-card__info-txt mrg-left">mins</div>
              </div>
            </div>
            <h4>Hiring with video technology: How is it done without bias?</h4>
            <a href="resource.html" class="c-btn cc-with-icon cc-link w-inline-block">
              <div>Read it</div><img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf859f0a065a_arrow%20copy%202.svg"
                alt="right arrow" class="c-icon__arrow">
            </a>
          </div>
        </div>
        <div class="w-dyn-item">
          <div class="c-card cc-tips">
            <a href="resource.html" class="c-card__link w-inline-block">
              <img src="https://uploads-ssl.webflow.com/6135d217a84bbf077f0a0656/6135d217a84bbfe2d20a0864_b%20corp.jpg"
                class="c-card__img cc-small">
            </a>
            <div class="c-card__info">
              <a style="color:hsla(163.26530612244898, 58.10%, 49.61%, 1.00)" href="#"
                class="c-card__tag-link">Updates</a>
              <div class="c-card__reading-time w-condition-invisible">
                <div style="background-color:hsla(163.26530612244898, 58.10%, 49.61%, 1.00)"
                  class="c-card__info-separator w-condition-invisible"></div>
                <div class="c-card__info-txt w-dyn-bind-empty"></div>
                <div class="c-card__info-txt mrg-left">mins</div>
              </div>
            </div>
            <h4>Stryve becomes B Corp Pending company</h4>
            <a href="resource.html" class="c-btn cc-with-icon cc-link w-inline-block">
              <div>Read it</div><img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf859f0a065a_arrow%20copy%202.svg"
                class="c-icon__arrow">
            </a>
          </div>
        </div>
        <div class="w-dyn-item">
          <div class="c-card cc-tips">
            <a href="resource.html" class="c-card__link w-inline-block">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf077f0a0656/6135d217a84bbf918d0a0868_diversity%203.jpg"
                class="c-card__img cc-small">
            </a>
            <div class="c-card__info">
              <a style="color:#ff2868" href="#" class="c-card__tag-link">Advice</a>
              <div class="c-card__reading-time w-condition-invisible">
                <div style="background-color:#ff2868" class="c-card__info-separator w-condition-invisible"></div>
                <div class="c-card__info-txt w-dyn-bind-empty"></div>
                <div class="c-card__info-txt mrg-left">mins</div>
              </div>
            </div>
            <h4>Seizing the new opportunity for diversity: How can we rebuild after Covid-19?</h4>
            <a href="resource.html" class="c-btn cc-with-icon cc-link w-inline-block">
              <div>Read it</div><img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf859f0a065a_arrow%20copy%202.svg"
                class="c-icon__arrow">
            </a>
          </div>
        </div>
        <div class="w-dyn-item">
          <div class="c-card cc-tips">
            <a href="resource.html" class="c-card__link w-inline-block">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf077f0a0656/6135d217a84bbf47130a086e_free%20ways%203.jpg"
                class="c-card__img cc-small"></a>
            <div class="c-card__info">
              <a style="color:hsla(203.76470588235293, 100.00%, 50.00%, 1.00)" href="#"
                class="c-card__tag-link">Tricks</a>
              <div class="c-card__reading-time">
                <div style="background-color:hsla(203.76470588235293, 100.00%, 50.00%, 1.00)"
                  class="c-card__info-separator"></div>
                <div class="c-card__info-txt">10</div>
                <div class="c-card__info-txt mrg-left">mins</div>
              </div>
            </div>
            <h4>3 ways to hire for free</h4>
            <a href="resource.html" class="c-btn cc-with-icon cc-link w-inline-block">
              <div>Read it</div><img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf859f0a065a_arrow%20copy%202.svg"
                class="c-icon__arrow">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-wrapper center">
      <a href="resource.html" class="c-btn cc-with-icon faded-btn w-inline-block">
        <div>More tips and tricks this way</div>
        <img src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf9bfb0a0658_arrow.svg"
          loading="lazy" alt="right arrow" class="c-icon__arrow">
      </a>
    </div>
  </div>
</section>