<section class="c-section cc-custom-bg wf-section">
  <div class="c-ctn cc-pink-bg">
    <div class="flex-vertical center p-custom desktop">


      <!-- SOLUTION COMPONENTS TITLE AND SUBTILE -->

      <div class="c-header center-text header-challenge" data-aos="fade-up">
        <div>
          <h3>
            <div class="lineswrap">
              <div class="line header-next animate-text" style="display: block; text-align: center; width: 100%;">
                What are your
                biggest
                hiring challenges?</div>
            </div>
          </h3>
        </div>
        <p>
        <div class="lineswrap">
          <div class="line animate-text" style="display: block; text-align: center; width: 100%;">Select a few to
            see your Stryve
            solution</div>
        </div>
        </p>
      </div>


      <!-- WHITE BALLS WITH INNER TEXT -->


      <div class="flex-vertical p-btm-50">
        <div class="flex-wrapper cc-first-row circle-text">

          <a id="first-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-1 w-inline-block circle-text-one" onclick="myFunction()" data-aos="zoom-in">
            <div id="first-ball-text" style="color:rgb(15,23,42)" class="text-11 center-text text-color">I'm not
              super
              tech-savvy</div>
          </a>

          <a id="second-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-2 w-inline-block circle-text-one" onclick="myFunction2()" data-aos="zoom-in">
            <div id="first-ball-text2" style="color:rgb(15,23,42)" class="text-11 center-text text-color">I don't
              have enough
              time to recruit</div>
          </a>

          <a id="third-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-3 w-inline-block circle-text-one" onclick="myFunction3()" data-aos="zoom-in">
            <div id="first-ball-text3" style="color:rgb(15,23,42)" class="text-11 center-text text-color">My data is
              a mess
            </div>
          </a>

          <a id="forth-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-4 w-inline-block circle-text-one" onclick="myFunction4()" data-aos="zoom-in">
            <div id="first-ball-text4" style="color:rgb(15,23,42)" class="text-11 center-text text-color">I can't
              keep up with
              emails</div>
          </a>

          <a id="fifth-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-5 w-inline-block circle-text-one" onclick="myFunction5()" data-aos="zoom-in">
            <div id="first-ball-text5" style="color:rgb(15,23,42)" class="text-11 center-text text-color">I'm sick
              of countless
              spreadsheets</div>
          </a>

          <a id="six-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-6 w-inline-block circle-text-one" onclick="myFunction6()" data-aos="zoom-in">
            <div id="first-ball-text6" style="color:rgb(15,23,42)" class="text-11 center-text text-color">Soooo many
              positions
              to fill</div>
          </a>


        </div>

        <script>
          function myFunction() {
            document.getElementById("first-ball").style.backgroundColor = "#f52768";
            document.getElementById("first-ball-text").style.color = "white";
            document.getElementById("first-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text").style.transitionDuration = "0.5s";
          }

          function myFunction2() {
            document.getElementById("second-ball").style.backgroundColor = "#706f6a";
            document.getElementById("first-ball-text2").style.color = "white";
            document.getElementById("second-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text2").style.transitionDuration = "0.5s";
          }

          function myFunction3() {
            document.getElementById("third-ball").style.backgroundColor = "#f8b8c3";
            document.getElementById("first-ball-text3").style.color = "white";
            document.getElementById("third-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text3").style.transitionDuration = "0.5s";
          }

          function myFunction4() {
            document.getElementById("forth-ball").style.backgroundColor = "#47dbdb";
            document.getElementById("first-ball-text4").style.color = "white";
            document.getElementById("forth-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text4").style.transitionDuration = "0.5s";
          }

          function myFunction5() {
            document.getElementById("fifth-ball").style.backgroundColor = "#f89c27";
            document.getElementById("first-ball-text5").style.color = "white";
            document.getElementById("fifth-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text5").style.transitionDuration = "0.5s";
          }

          function myFunction6() {
            document.getElementById("six-ball").style.backgroundColor = "#1001c0";
            document.getElementById("first-ball-text6").style.color = "white";
            document.getElementById("six-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text6").style.transitionDuration = "0.5s";
          }

        </script>


        <div class="flex-wrapper">

          <a id="seven-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-7 w-inline-block circle-text-one" onclick="myFunction7()" data-aos="zoom-in">
            <div id="first-ball-text7" style="color:rgb(15,23,42)" class="text-11 center-text text-color">I struggle
              to keep my
              team in the loop
            </div>
          </a>

          <a id="eight-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-8 w-inline-block circle-text-one" onclick="myFunction8()" data-aos="zoom-in">
            <div id="first-ball-text8" style="color:rgb(15,23,42)" class="text-11 center-text text-color">I struggle
              to
              pinpoint
              the best candidate
            </div>
          </a>

          <a id="nine-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-9 w-inline-block circle-text-one" onclick="myFunction9()" data-aos="zoom-in">
            <div id="first-ball-text9" style="color:rgb(15,23,42)" class="text-11 center-text text-color">I struggle
              to attract
              candidates</div>
          </a>

          <a id="ten-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-10 w-inline-block circle-text-one" onclick="myFunction10()" data-aos="zoom-in">
            <div id="first-ball-text10" style="color:rgb(15,23,42)" class="text-11 center-text text-color">I can't
              keep track
              of
              applications</div>
          </a>

          <a id="eleven-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-11 w-inline-block circle-text-one" onclick="myFunction11()" data-aos="zoom-in">
            <div id="first-ball-text11" style="color:rgb(15,23,42)" class="text-11 center-text text-color">I don't
              have a clear
              picture of my hiring
              pipeline</div>
          </a>

          <a id="twelve-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-12 w-inline-block circle-text-one" onclick="myFunction12()" data-aos="zoom-in">
            <div id="first-ball-text12" style="color:rgb(15,23,42)" class="text-11 center-text text-color">GDPR...
              yikes!</div>
          </a>

          <a id="thirteen-ball" style="background-color: rgb(255, 255, 255); cursor: pointer;"
            class="c-solution__circle cc-13 w-inline-block circle-text-one" onclick="myFunction13()" data-aos="zoom-in">
            <div id="first-ball-text13" style="color:rgb(15,23,42)" class="text-11 center-text text-color">My team
              lacks
              diversity</div>
          </a>

        </div>

        <script>
          function myFunction7() {
            document.getElementById("seven-ball").style.backgroundColor = "#6acfb6";
            document.getElementById("first-ball-text7").style.color = "white";
            document.getElementById("seven-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text7").style.transitionDuration = "0.5s";
          }

          function myFunction8() {
            document.getElementById("eight-ball").style.backgroundColor = "#f59e0d";
            document.getElementById("first-ball-text8").style.color = "white";
            document.getElementById("eight-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text8").style.transitionDuration = "0.5s";
          }

          function myFunction9() {
            document.getElementById("nine-ball").style.backgroundColor = "#fcd127";
            document.getElementById("first-ball-text9").style.color = "white";
            document.getElementById("nine-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text9").style.transitionDuration = "0.5s";
          }

          function myFunction10() {
            document.getElementById("ten-ball").style.backgroundColor = "#0d65f4";
            document.getElementById("first-ball-text10").style.color = "white";
            document.getElementById("ten-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text10").style.transitionDuration = "0.5s";
          }

          function myFunction11() {
            document.getElementById("eleven-ball").style.backgroundColor = "#fcd127";
            document.getElementById("first-ball-text11").style.color = "white";
            document.getElementById("eleven-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text11").style.transitionDuration = "0.5s";
          }

          function myFunction12() {
            document.getElementById("twelve-ball").style.backgroundColor = "#42c89f";
            document.getElementById("first-ball-text12").style.color = "white";
            document.getElementById("twelve-ball").style.transitionDuration = "0.5s";
            document.getElementById("first-ball-text12").style.transitionDuration = "0.5s";
          }

          function myFunction13() {
            document.getElementById("thirteen-ball").style.backgroundColor = "#299aff";
            document.getElementById("first-ball-text13").style.color = "white";
            document.getElementById("thirteen-ball").style.transitionDuration = "1s";
            document.getElementById("first-ball-text13").style.transitionDuration = "1s";
            document.getElementById("thirteen-ball").style.cursor = "pointer";
          }

        </script>
      </div>

      <!-- CHECK SOLUTION BUTTON -->

      <a href="#" class="c-btn cc-with-icon cc-large w-inline-block button-challenge"
        style="opacity: 1; cursor: not-allowed;">
        <div>Check out your solution</div><img
          src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf9bfb0a0658_arrow.svg"
          alt="right arrow" class="c-icon__arrow">
      </a>
    </div>
  </div>

</section>