<section class="c-section no-overflow p-btm__140 wf-section">
  <div class="c-beige__bg">
    <div class="c-gradient__bg  ">
    </div>
  </div>

  <div class="c-ctn cc-70 cc-relative cc-custom-width">

    <!-- TITLE PLUS DESCRIPTION -->

    <div
      class="c-header growth swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode helping">

      <!-- TITLE FOR HELPING PART -->

      <div>
        <h2 class="heading-10">

          <div class="lineswrap" data-aos="fade-up">
            <div class="line animate-text" style="display: block; text-align: strat; width: 100;">
              What do our customers think?
            </div>
          </div>



        </h2>
      </div>

      <!-- DESCRIPTION ABOUT COMPONENT -->

    </div>


    <!-- CAROUSEL (SLIDER)  COMPONENTS -->

    <div class="c-growth-slider__container">

      <!-- SLIDER 4 COMPONENTS -->

      <div
        class="swiper-container growth swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode"
        style="cursor: grab;">

        <div class="carousel all-three-elements" data-flickity='{ "autoPlay": false }'>


          <div class=" customer1">

            <div class="swiper-slide w-dyn-item swiper-slide-nex slide" style="width: 333px; margin-right: 36px;">
              <div class="c-card cc-redius__8">
                <div class="c-img__inner"></div>
                <img
                  src="https://uploads-ssl.webflow.com/6135d217a84bbf077f0a0656/61ea7bac4e0cbe7315ec169a_Katharine%20bw-p-500.jpeg"
                  alt="man-stading" class="c-img-cover radius__8">

                <div class="c-card__text">
                  <h3 class="is--white no-mg">
                    <div class="lineswrap" data-aos="fade-up">
                      <div class="line animate-text"
                        style="display: block; text-align: strat; width: 100%; font-weight: 100;">
                        Katharine Archer
                      </div>
                    </div>
                  </h3>

                  <div class="flex hero-headline slider-title">
                    <div class="lineswrap" data-aos="fade-up">
                      <div class="line animate-text"
                        style="display: block; text-align: start; width: 100%; font-weight: 100; font-weight: 100;">
                        People and Development Parner, Ridgeview Estate Winery
                      </div>
                    </div>
                  </div>
                </div>



                <a href="Katharine-Archer.html" class="c-btn cc-beige cc-with-play cc-absolute w-inline-block"
                  style="opacity: 1; height: 48px;">
                  <div class="c-play__iocn-holder cc-hide">
                    <img
                      src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbfda4a0a065e_Vector%209.svg"
                      alt="arrow-red" class="c-icon__red-arrow">
                  </div>

                  <div class="flex mg-left__8" style="opacity: 1; display: flex;">
                    <div class="p-right__3 cc-hide">Hear </div>
                    <div>Read more</div>
                    <div class="p-right__3 cc-hide">'s</div>
                  </div>

                </a>

              </div>
            </div>

          </div>

          <div class="customer2">

            <div class="swiper-slide w-dyn-item swiper-slide-nex slide" style="width: 333px; margin-right: 36px;">
              <div class="c-card cc-redius__8">
                <div class="c-img__inner"></div>
                <img src="https://uploads-ssl.webflow.com/6135d217a84bbf077f0a0656/6242ed673b3c651b4ccde178_aod54.png"
                  alt="man-stading" class="c-img-cover radius__8">

                <div class="c-card__text">
                  <h3 class="is--white no-mg">
                    <div class="lineswrap" data-aos="fade-up">
                      <div class="line animate-text"
                        style="display: block; text-align: strat; width: 100%; font-weight: 100;">
                        Richard Angel
                      </div>
                    </div>
                  </h3>

                  <div class="flex hero-headline slider-title">
                    <div class="lineswrap" data-aos="fade-up">
                      <div class="line animate-text"
                        style="display: block; text-align: start; width: 100%; font-weight: 100;">
                        CEO, Angel O'Donnell
                      </div>
                    </div>
                  </div>
                </div>

                <a href="Richard-Angle.html" class="c-btn cc-beige cc-with-play cc-absolute w-inline-block"
                  style="opacity: 1; height: 48px;">
                  <div class="c-play__iocn-holder cc-hide">
                    <img
                      src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbfda4a0a065e_Vector%209.svg"
                      alt="arrow-red" class="c-icon__red-arrow">
                  </div>

                  <div class="flex mg-left__8" style="opacity: 1; display: flex;">
                    <div class="p-right__3 cc-hide">Hear </div>
                    <div>Read more</div>
                    <div class="p-right__3 cc-hide">'s</div>
                  </div>
                </a>

              </div>
            </div>

          </div>


          <div class="customer3">

            <div class="swiper-slide w-dyn-item swiper-slide-nex slide" style="width: 333px; margin-right: 36px;">
              <div class="c-card cc-redius__8">
                <div class="c-img__inner"></div>
                <img
                  src="https://uploads-ssl.webflow.com/6135d217a84bbf077f0a0656/626963764de226186c9d4c5c_20190913_VOVI_Shot1_BW_003-p-500.jpeg"
                  alt="man-stading" class="c-img-cover radius__8">

                <div class="c-card__text">
                  <h3 class="is--white no-mg">
                    <div class="lineswrap" data-aos="fade-up">
                      <div class="line animate-text"
                        style="display: block; text-align: strat; width: 100%; font-weight: 100;">
                        Alex Rook
                      </div>
                    </div>
                  </h3>

                  <div class="flex hero-headline slider-title">
                    <div class="lineswrap" data-aos="fade-up">
                      <div class="line animate-text"
                        style="display: block; text-align: start; width: 100%; font-weight: 100;">
                        Founder, Vovi
                      </div>
                    </div>
                  </div>
                </div>

                <a href="Alex-Rook.html" class="c-btn cc-beige cc-with-play cc-absolute w-inline-block"
                  style="opacity: 1; height: 48px;">
                  <div class="c-play__iocn-holder cc-hide">
                    <img
                      src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbfda4a0a065e_Vector%209.svg"
                      alt="arrow-red" class="c-icon__red-arrow">
                  </div>

                  <div class="flex mg-left__8" style="opacity: 1; display: flex;">
                    <div class="p-right__3 cc-hide">Hear </div>
                    <div>Read more</div>
                    <div class="p-right__3 cc-hide">'s</div>
                  </div>

                </a>

              </div>
            </div>

          </div>


        </div>

      </div>


    </div>


  </div>

</section>