<!-- SLIDER 4 COMPONENTS -->


<div class="c-growth-slider__container">


  <div
    class="swiper-container growth swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode"
    style="cursor: grab;">

    <div class="carousel all-four-elements" data-flickity='{ "autoPlay": false }'>


      <div class="carousel-cell component1">

        <div class="swipwe-slide swiper-slide-next mySlides bluecolor">
          <div class="c-card cc-pink-bg _1 bluebackground">
            <div class="c-card__header">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135fc4feb127982ac6a1c2e_stryve-time-thumbnail-img.svg"
                class="c-card__icon">
              <h2 class="is--white no-mg">
                <div class="lineswrap" data-aos="fade-up">
                  <div class="line animate-text" style="display: block; text-align: start; width: 100%;">
                    Source
                  </div>
                </div>
              </h2>
            </div>

            <div class="c-card__text-content">
              <h4 class="is--white mg-btm__16 header-access2">
                Access over 1 billion candidates
              </h4>
              <p class="is--white opacity-60 hello2">
                using the powerful combination of artifical intelligence and human screening, Stryve Source
                sends
                dream candidates right to your inbox!
                <br>
              </p>
            </div>
            <div class="c-btn__holder mg-top__40">
              <a href="save-time.html" class="c-btn cc-beige home w-button access-button2">
                See how
              </a>
            </div>
          </div>
        </div>

      </div>


      <div class="carousel-cell component2">

        <div class="swipwe-slide swiper-slide-next mySlides greencolor">
          <div class="c-card cc-pink-bg _2 greenbackground">
            <div class="c-card__header">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf00c70a06cd_Group%20122.svg"
                class="c-card__icon">
              <h2 class="is--white no-mg">
                <div class="lineswrap" data-aos="fade-up">
                  <div class="line animate-text" style="display: block; text-align: start; width: 100%;">
                    ATS
                  </div>
                </div>
              </h2>
            </div>

            <div class="c-card__text-content">
              <h4 class="is--white mg-btm__16 header-access2">
                A refreshing platform to manage
              </h4>
              <p class="is--white opacity-60 hello2">
                Our intuitive talent management system manages your hiring process from attracting candidates,
                nature programs, custom analytics and onboarding.
                <br>
              </p>
            </div>
            <div class="c-btn__holder mg-top__40">
              <a href="engagement.html" class="c-btn cc-beige home w-button access-button2">
                See how
              </a>
            </div>
          </div>
        </div>

      </div>


      <div class="carousel-cell component3">

        <div class="swipwe-slide swiper-slide-next mySlides orangecolor">
          <div class="c-card cc-pink-bg _3 yellowbackground">
            <div class="c-card__header">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf6e110a069b_Group%20124.svg"
                class="c-card__icon">
              <h2 class="is--white no-mg">
                <div class="lineswrap" data-aos="fade-up">
                  <div class="line animate-text" style="display: block; text-align: start; width: 100%;">
                    Data
                  </div>
                </div>
              </h2>
            </div>

            <div class="c-card__text-content">
              <h4 class="is--white mg-btm__16 header-access2">
                We've got the data stuff covered
              </h4>
              <p class="is--white opacity-60 hello2">
                Running a business is complicated enough. So why not let Stryve take care of your recruitment
                data, to keep you secure and GDPR compliant and talk about that?
                <br>
              </p>
            </div>
            <div class="c-btn__holder mg-top__40">
              <a href="remain.html" class="c-btn cc-beige home w-button access-button2">
                See how
              </a>
            </div>
          </div>
        </div>

      </div>


      <div class="carousel-cell component4  ">

        <div class="swipwe-slide swiper-slide-next mySlides pinkcolor" style="margin-right: 32px;">
          <div class="c-card cc-pink-bg _4 pinkbackground">
            <div class="c-card__header">
              <img
                src="https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/6135d217a84bbf308a0a06c3_Group%20119.svg"
                class="c-card__icon">
              <h2 class="is--white no-mg">
                <div class="lineswrap" data-aos="fade-up">
                  <div class="line animate-text" style="display: block; text-align: start; width: 100%;">
                    Brand
                  </div>
                </div>
              </h2>
            </div>

            <div class="c-card__text-content">
              <h4 class="is--white mg-btm__16 header-access2">
                Make your company shine
              </h4>
              <p class="is--white opacity-60 hello2">
                With our recruitment branding you're sure to wow your applicants from the very first interaction
                right through to hire and intergrations so much more.
                <br>
              </p>
            </div>
            <div class="c-btn__holder mg-top__40">
              <a href="improve.html" class="c-btn cc-beige home w-button access-button2">
                See how
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


</div>