.path {
  stroke-dasharray: 1630;
  stroke-dashoffset: 1440;
  animation: dash 3s linear 1;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1440;
  }
  to {
    stroke-dashoffset: 0;
  }
}

body[data-aos-duration='4225'] [data-aos],
[data-aos][data-aos][data-aos-duration='4225']{
  transition-duration: 4225ms;
}
