/*! CSS Used from: https://uploads-ssl.webflow.com/6135d217a84bbf3ca90a0652/css/stryve-project-5bdce3c7936e32726719e868.webflow.44e24a980.min.css */
footer {
  display: block;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 180%;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
h5 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #0f172a;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.c-ctn {
  width: 85%;
  max-width: 1280px;
  min-width: 970px;
  margin-right: auto;
  margin-left: auto;
}

.flex-wrapper.cc-spaced {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* .center-text {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #0f172a;
  text-align: center;
} */

.c-btn.cc-light {
  border: 2px solid #000;
  background-color: transparent;
  color: #0f172a;
}
.c-btn.cc-light.white-border {
  border-color: #fff;
  color: #fff;
}
.c-btn.cc-no-border {
  background-color: transparent;
  color: #0f172a;
}
.c-btn.cc-no-border.white {
  background-color: #fff;
}
.c-btn.cc-no-border.white.mg-right__20 {
  margin-right: 20px;
}
.is--white {
  margin-bottom: 12px;
  color: #fff;
  text-decoration: none;
}
.is--white.opacity-60 {
  margin-bottom: 16px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  text-decoration: none;
  opacity: 0;
}
.is--white.is--12px {
  font-size: 12px;
}
.c-footer {
  position: relative;
  padding-top: 80px;
  background-color: #009aff;
}
.c-footer__lower {
  padding-top: 60px;
}
.footer-grid {
  -ms-grid-columns: 1fr 1.75fr;
  grid-template-columns: 1fr 1.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.c-footer__logo-part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.c-footer__logo-part.cc-mobile {
  display: none;
}
.c-footer__logo-part.upper {
  position: relative;
  min-height: 20rem;
}
.c-footer__links {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.c-footer__links.cc-lower {
  grid-column-gap: 5px;
  -ms-grid-columns: 1fr 0.75fr 1fr;
  grid-template-columns: 1fr 0.75fr 1fr;
}
.c-footer__logo {
  margin-top: -15px;
  margin-bottom: 45px;
  margin-left: -25%;
}
.c-footer__links-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}
.footer-grid__lower {
  margin-bottom: 20px;
  padding-bottom: 40px;
  -ms-grid-columns: 1fr 1.75fr;
  grid-template-columns: 1fr 1.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
}
.c-footer__social-link {
  margin-right: 24px;
}
.footer-grid__bottom {
  padding-top: 20px;
  -ms-grid-columns: 1fr 1.75fr;
  grid-template-columns: 1fr 1.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.cc-hide {
  display: none;
}

.text-12 {
  font-size: 12px;
}
.c-footer__header {
  margin-bottom: 16px;
  color: #fff;
}
.c-footer__link-item {
  margin-bottom: 16px;
  -webkit-transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  cursor: pointer;
}
.c-footer__link-item:hover {
  -webkit-transform: translate(3px, 0);
  -ms-transform: translate(3px, 0);
  transform: translate(3px, 0);
}
.c-footer-upper-portion {
  padding-bottom: 32px;
}
.c-footer-lower-portion {
  padding-bottom: 64px;
  background-color: #0f00c0;
}
.bcrop_logo-wrapper {
  position: absolute;
  left: 2%;
  top: auto;
  right: auto;
  bottom: 2%;
  width: 5.5rem;
  height: 7.5rem;
}
.bcrop_logo-wrapper.is-footer {
  left: 0;
}
@media screen and (max-width: 991px) {
  .c-ctn {
    max-width: 960px;
    min-width: 740px;
  }
  .c-footer__links {
    grid-column-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .c-ctn {
    max-width: 767px;
    min-width: 440px;
  }
  .flex-wrapper.cc-spaced.cc-100 {
    width: 100%;
  }
  .flex-wrapper.cc-socials {
    width: 65%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .c-btn.cc-light.white-border,
  .c-btn.cc-no-border.white.mg-right__20 {
    display: none;
  }
  .c-btn.cc-no-border.white.mg-right__20.faded-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .c-footer {
    background-color: #009aff;
    background-image: none;
  }
  .c-footer__lower {
    padding-top: 0;
  }
  .footer-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .c-footer__logo-part {
    width: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .c-footer__logo-part.cc-socials {
    display: none;
  }
  .c-footer__logo-part.cc-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .c-footer__logo-part.upper {
    margin-bottom: 80px;
  }
  .c-footer__links {
    grid-row-gap: 45px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .c-footer__links.cc-lower {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .c-footer__links.cc-lower.cc-2 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .c-footer__links-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .c-footer__links-block.cc-build-for {
    display: none;
  }
  .c-footer__links-block.cc-80 {
    max-width: none;
  }
  .footer-grid__lower {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .c-footer__social-link.last {
    margin-right: 0;
  }
  .footer-grid__bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .bcrop_logo-wrapper {
    left: auto;
    top: auto;
    right: 2%;
    bottom: 0;
    width: 3.75rem;
    height: 5.5rem;
  }
  .bcrop_logo-wrapper.is-footer {
    position: relative;
    top: 2rem;
  }
}
@media screen and (max-width: 479px) {
  .c-ctn {
    max-width: 479px;
    min-width: 300px;
  }
  .flex-wrapper.cc-spaced {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-wrapper.cc-spaced.cc-100 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .c-footer__logo-part.upper {
    margin-bottom: 60px;
  }
  .c-footer__links {
    grid-row-gap: 30px;
  }
  .c-footer__logo {
    margin-left: -30%;
  }
  .c-footer__logo.w--current {
    margin-left: -28%;
  }
  .c-footer__links-block.cc-btm {
    text-align: center;
  }
  .c-footer__social-link.last {
    margin-right: 0;
  }
  .c-footer-lower-portion {
    padding-top: 32px;
  }
  .bcrop_logo-wrapper {
    left: auto;
    top: auto;
    bottom: 0;
  }
}
#w-node-_3f59c6c5-4279-a047-4c11-63f0aaf059f9-aaf05997,
#w-node-_3f59c6c5-4279-a047-4c11-63f0aaf059fc-aaf05997,
#w-node-_3f59c6c5-4279-a047-4c11-63f0aaf059ff-aaf05997 {
  -ms-grid-column-align: start;
  justify-self: start;
}
@media screen and (max-width: 767px) {
  #w-node-_3f59c6c5-4279-a047-4c11-63f0aaf059e4-aaf05997 {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  #w-node-_3f59c6c5-4279-a047-4c11-63f0aaf059f9-aaf05997,
  #w-node-_3f59c6c5-4279-a047-4c11-63f0aaf059fc-aaf05997,
  #w-node-_3f59c6c5-4279-a047-4c11-63f0aaf059ff-aaf05997 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}
@media screen and (max-width: 479px) {
  #w-node-_3f59c6c5-4279-a047-4c11-63f0aaf059ef-aaf05997 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}
/*! CSS Used from: Embedded */
* {
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01" on;
}
[data-anim="fade"] {
  opacity: 0;
  transform: translate3d(0%, 2em, 0) scale3d(1, 1, 1);
  transition-property: opacity, transform;
  transition-duration: 2s;
  transition-timing-function: var(--ease1);
}
[data-delay="450"] {
  transition-delay: 450ms;
}
/*! CSS Used from: Embedded */
a:hover,
a:focus {
  outline: 0;
}
