* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* body {
  line-height: 1;
  font-weight: 400;
  color: #555;
} */





.c-hero, .cc-flex {
  -webkit-box-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
}

.c-hero {
  position: relative;
}

.c-hero_cover, .is-home-hero {
  background-color: rgb(0, 154, 255);
}

.c-hero_cover {
  position: relative;
  overflow: hidden;
  width: 50vw;
  height: 50vw;
  min-height: 800px;
  margin-left: auto;
}

.div-block {
  position: absolute;
  left: auto;
  top: 5%;
  right: -3%;
  bottom: auto;
  width: 50vw;
  height: 50vw;
  min-height: 640px;
  min-width: 640px;
}

.c-bubble_wrapper {
  position: absolute;
}

.c-access_svg {
  width: 100%;
  height: 100%;
}

img {
  border: 0px;
  vertical-align: middle;
  display: inline-block;
  max-width: 180%;
}

._340 {
  inset: -8% -4% auto auto;
  width: 40%;
  height: 40%;
}

._240 {
  inset: 28% auto auto 14%;
  width: 28%;
  height: 28%;
}

._200 {
  inset: auto auto -5% 35%;
  width: 30%;
  height: 30%;
}

._68 {
  inset: auto auto 25% 18%;
  width: 8%;
  height: 8%;
}

._205 {
  inset: -19% auto auto -2%;
  width: 30%;
  height: 30%;
}

._72 {
  inset: auto 15% 20% auto;
  width: 7%;
  height: 7%;
}

._38 {
  top: 15%;
  right: 50%;
  height: 5%;
  width: 5%;
}

._115 {
  top: auto;
  right: 13%;
  bottom: 39%;
  z-index: 3;
  width: 12%;
  height: 12%;
}

.avatar-placeholder {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(67, 219, 219);
}

.avatar-placeholder.white {
  display: flex;
  padding: 4px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.c-tag__holder {
  position: absolute;
  z-index: 2;
  max-width: 30ch;
  padding: 10px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
}

.center-text {
  align-self: center;
  color: rgb(15, 23, 42);
  text-align: center;
}

.text-11 {
  color: rgb(15, 23, 42);
  font-size: 11px;
  line-height: 11px;
}

.cc-1 {
  position: absolute;
  left: 12%;
  top: 18%;
  padding: 0.7em 0.6vw;
}

.cc-2 {
  position: absolute;
  top: 40%;
  right: 36%;
}

.cc-3 {
  position: absolute;
  left: 14%;
  bottom: 17%;
}

.cc-4 {
  position: absolute;
  right: 13%;
  bottom: 34%;
}

.bcrop_logo-wrapper {
  position: absolute;
  left: 2%;
  top: auto;
  right: auto;
  bottom: 2%;
  width: 9.5rem;
  height: 12.5rem;
}

/* LINE DRAW */

.c-draw-line__holder {
  position: absolute;
  left: 0;
  top: -5%;
  right: auto;
  bottom: auto;
  z-index: 0;
  width: 76%;
}

/* Navigation Bar */

.c-navbar {
  position: fixed;
  top: 8px;
  width: 100%;
  height: 64px;
  background-color: transparent;
}

.w-nav {
  position: relative;
  /* background: #ddd; */
  z-index: 1000;
}

.c-ctn.cc-nav {
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fdf5f7;
}

.c-ctn {
  width: 85%;
  max-width: 1280px;
  min-width: 970px;
  margin-right: auto;
  margin-left: auto;
}

.brand.w--current {
  display: flex;
}

.brand {
  top: 5px;
  width: 15vw;
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333;
}

a {
  background-color: transparent;
}

/* NAVIGATION-MENU */

.nav-menu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.w-dropdown-btn, .w-dropdown-link, .w-dropdown-toggle {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  text-decoration: none;
  color: #222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.w-dropdown-toggle {
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
}


/*    title     */

.c-ctn .cc-absolute {
  position: absolute;
  padding-bottom: 0;
}

.c-ctn {
  width: 85%;
  max-width: 1280px;
  min-width: 970px;
  margin-right: auto;
  margin-left: auto;
}

.c-hero__content.is--home {
  /* margin-right: -26px; */
}

.c-hero__content {
  max-width: 50%;
  /* padding-top: 100px; */
  padding-bottom: 0;
}

.c-hero__text {
  max-width: 40ch;
  padding-bottom: 60px;
}

.title-row1__holder {
  display: flex;
}

.no-mg.p-r__10 {
  padding-right: 10px;
}

.no-mg.header-title {
  font-weight: 300;
}

.lineswrap {
  overflow: hidden;
  background-color: aqua;
}

.line {
  opacity: 0;
  transform: translate3d(0%,0% ,0%) scale(1,1,1,);
  background-color: red;
}